body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) repeat;
    font-family:arial,sans-serif;
}

.clearing {clear: both;}

.top { height:60px !important; }
#main_wrapper{
    padding: 0px 20px;
}

#slider1_container{
    float: left;
    width: 300px;
    margin: 0px 20px 20px 50px;
    position: relative;
    overflow: hidden;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}

#slider1_container img{
    width: 86%;
    height: auto;
}

#yantra_list{
    float: right;
    width: 885px;
    padding: 10px;
    text-align: center;
    margin-top:-80px;
}

#yantra_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#yantra_list ul li{
    display: inline-block;
    max-width: 150px;
    margin-bottom: 10px;
    margin-right: 7px;
    padding: 7px 8px;
    background-color: #864420;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    box-shadow: 0 10px 7px -5px #33190C;
    -moz-box-shadow: 0 10px 7px -5px #000;
    -webkit-box-shadow: 0 10px 7px -5px #000;
}

#yantra_list ul li img {
    width: 100%;
    height: 150px;
}

#yantra_list ul li input {
    padding: 5px 7px;
    width: 80px;
}

#yantra_list ul li input:focus{
    background-color: #FF0000;
    color: #FFF;
}

#yantra_content{
    float: left;
    width: 100%;
    padding-top: 15px;
    background-color: #864420;
    
    box-shadow: 0 10px 10px -3px #000 inset;
    -moz-box-shadow: 0 10px 10px -3px #000 inset;
    -webkit-box-shadow: 0 10px 10px -3px #000 inset;
}

#yantra_content table{
    color: #FFF;
    border-collapse: collapse;
}

#yantra_content table, #yantra_content td, #yantra_content th {
    border: 1px solid #FFF;
}

#yantra_content table tr {margin-bottom: 10px;}

#yantra_content table td{
    text-align: center;
    vertical-align: middle;
}

#yantra_content table .text{
    width: 60px;
}

#yantra_content table .image{
    display: block;
    width: 150px;
}

#yantra_content table .image img{
    width: 100%;
    height: auto;
}

#yantra_content #content{
    height: 250px;
    overflow: auto;
    width: 85%;
    padding-right: 10px;
    margin: 0 auto;
}

#footer { 
		position: fixed;
    z-index: 100; 
    bottom: 0px; 
    left: 0;
    width: 100%;
    height:70px; 
    text-align:center;
    background-color: #F4E0C8;
    padding: 0px 5px;
}

#footer input{ 
		padding: 3px 5px;
		font-weight:bold;
		font-size:15px;
		letter-spacing:2px;
		color:#fff;
    border-radius: 5px;
    
    box-shadow: 0 10px 5px -10px #000;
    -moz-box-shadow: 0 10px 5px -10px #000;
    -webkit-box-shadow: 0 10px 5px -10px #000;
    display:inline;
}

#footer .yantra{ background-color: #4A9BC8; margin-left:10px; margin-bottom:10px;}
#footer .current{ background-color: #4A9BC8; margin-left:10px; }
#footer .upcoming{ background-color: #9EA5AB; margin-left:10px; }

#footer .test1{ background-color: #fff; margin-left:10px; border: 2px solid #9EA5AB; width: 100px; color:#000; text-align:center;}
#footer .test2{ background-color: #fff; margin-left:10px; border: 2px solid #9EA5AB; width: 100px; color:#000; text-align:center;}
#footer .barcodetext{ margin-left:10px; font-weight:bold;}
#footer .barcode{ background-color: #fff; margin-left:10px; border: 2px solid #9EA5AB; width: 150px; color:#000; text-align:center;}

#footer .buy{ background-color: #916366; margin-left:10px; }
#footer .clar{ background-color: #78A56C; margin-left:10px; }
#footer .can{ background-color: #78A56C; margin-left:10px; }
#footer .lreceipt{ background-color: #78A56C; margin-left:10px; }
#footer .exit{ background-color: #B21800; margin-left:50px; margin-right:50px; }
#footer .pdetail{ background-color: #9EA5AB; }
#footer .luckyyantra{ background-color: #9EA5AB; }

#centerPopup{
	display:none;
	background:#dee;
	position:absolute; 
  top: 18%;
  left: 50%;
  z-index: 1000;
  width:800px;
  padding:15px;
  border-radius: 5px;
  
  box-shadow: 0 10px 5px -10px #C38712;
  -moz-box-shadow: 0 10px 5px -10px #C38712;
  -webkit-box-shadow: 0 10px 5px -10px #C38712;
}

#centerPopupInner { height:350px; overflow-y:scroll; }

.separater span{
	display:inline;
}

.centerPopupinput { 
	width:75px; 
	margin:5px;
	padding:4px; 
	border-radius: 3px;
	text-align:center;
	curser:pointer;
}

.currenDate{ font-weight:bold; font-size:18px; border-bottom: 1px solid #ff3300; margin: 5px 0 5px 11px;}

.closeDiv { float:right; margin-top:-5px; curser:pointer;}
#closeDiv { padding: 0px; font-size:11px; width:18px; margin:0px; background-color: #FF3300; color:#fff;}

#CurrentTime { color:#fff; margin:0px 0px 5px 0px; font-weight:bold; width:261px; padding:0px 0px 0px 48px;}
#CurrentTime .ctime{ float:left; width:150px; text-align:left; vertical-align:bottom; height:20px; font-size:20px; padding-bottom:5px;}
#CurrentTime .ltime{ margin-left:150px; text-align:right; vertical-align:bottom; height:20px; font-size:20px; padding-bottom:5px;}

#content ul { margin:0px; padding:0px; }
#content li { list-style:none; color:#fff; text-align:center; display:inline-block; margin:5px;}
#content .yantralist { }
#content .lefttext { float:left; width:62px; text-align:center; margin-top:8px;}
#content .rightyantra { width:121px; margin-left:60px;}
#content .lefttime { font-weight:bold; font-size:20px; }
#content .leftstart { width:62px; text-align:center; }
#content .jackport img { border:solid 4px #88F7F3; }
#content .jp { margin-top:3px; }
/*#content div { float:left; font-weight:bold; font-size:15px; width:78px;}*/
#content li img { width:100px; border:solid 4px #864420;}

.currentBalance { color:#fff; margin-right:45px; font-size:18px; font-weight:bold;}
#CurrentTimer { color:#fff; margin:15px 0 5px 404px; font-weight:bold; padding:0px 30px; float:left; font-size:20px;}

#Righttop{
	text-align:right;
	margin-right:10px;
	margin-bottom:10px;
}
.whiteColor { color:#fff; }

.jackportdiv { text-align:left; }
.jackport { margin-left:5px; color:#FFDD00; font-size:18px; margin-top:2px; }

@media print
{
.pagebreak { page-break-after:always; }
}