body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) repeat;
    font-family:arial,sans-serif;
}

.clearing {clear: both;}

#main_wrapper{
    padding: 20px;
}

#slider1_container{
    
    position: relative;
    overflow: hidden;
		margin:0px 25px 25px 25px;    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    
}

.cycle-slideshow{box-shadow: 0 13px 15px -10px #000;
    -moz-box-shadow: 0 13px 15px -10px #000;
    -webkit-box-shadow: 0 13px 15px -10px #000;}

#slider1_container img{
    width: 100%;
    height: auto;
		
		
}

#yantra_list{
		margin:0 auto;
		width:93%;
    padding: 0px 5px;
    text-align: center;
    background-color:#47f5f3;
    border: 4px solid #000;
    border-radius: 25px;
}

#yantra_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#yantra_list ul li{
    display: inline-block;
    max-width: 160px;
    padding: 5px 8px;
    
}

#yantra_list ul li img {
    width: 95%;
    height: 140px;
}

#yantra_list ul li input {
    margin-top:5px;
    padding: 5px 7px;
    width: 80px;
    border: 2px solid #fff;
    border-radius: 25px; font-size:20px;
}

#yantra_list ul li input:focus{
    background-color: #FF0000;
    color: #FFF;
}

#yantra_content{
    padding-top: 15px;
 background: -moz-linear-gradient(266deg, #00c4f5 0%, #acefff 100%);
	background: -webkit-linear-gradient(266deg, #00c4f5 0%, #acefff 100%);
	background: -o-linear-gradient(266deg, #00c4f5 0%, #acefff 100%); 
    box-shadow: 0 10px 10px -3px #000 inset;
    -moz-box-shadow: 0 10px 10px -3px #000 inset;
    -webkit-box-shadow: 0 10px 10px -3px #000 inset;
    
   margin:0 auto;
		position:relative;
		max-width:1366px;
}

#yantra_content table{
    color: #FFF;
    border-collapse: collapse;
}

#yantra_content table, #yantra_content td, #yantra_content th {
    border: 1px solid #FFF;
}

#yantra_content table tr {margin-bottom: 10px;}

#yantra_content table td{
    text-align: center;
    vertical-align: middle;
}

#yantra_content table .text{
    width: 60px;
}

#yantra_content table .image{
    display: block;
    width: 150px;
}

#yantra_content table .image img{
    width: 100%;
    height: auto;
}

#yantra_content #content{
    height: 500px;
    overflow: auto;
    width: 95%;
    padding-right: 0px;
    margin: 0 auto;
}

#mainWrapper{
	margin:0 auto;
	position:relative;
	max-width:1366px;
}

#leftArea{
	float:left;
	/* width:27%; */
	width:364px;
	text-align:center;
	height:450px;  background: -moz-linear-gradient(266deg, #00c4f5 0%, #acefff 100%);
	background: -webkit-linear-gradient(266deg, #00c4f5 0%, #acefff 100%);
	background: -o-linear-gradient(266deg, #00c4f5 0%, #acefff 100%); 
}

#RightArea{
	/* margin-left:27%;
	width:73%; */
	margin-left:364px;
	/*width:985px;*/
	 background: -moz-linear-gradient(266deg, #00c4f5 0%, #acefff 100%);
	background: -webkit-linear-gradient(266deg, #00c4f5 0%, #acefff 100%);
	background: -o-linear-gradient(266deg, #00c4f5 0%, #acefff 100%); 
	height:450px;
}

#Righttop{
	text-align:right;
	margin-right:10px;
	margin-bottom:10px; color:#fff;
}

#footer { 
		position: fixed;
    z-index: 100; 
    bottom: 0px; 
    left: 0;
    width: 100%;
    height:70px; 
    text-align:center;
    background-color: #E7F0FA;
    padding:0px 5px 5px 5px;
}

#footer input{ 
		padding: 4px 8px;
		font-weight:bold;
		font-size:14px;
		letter-spacing:1px;
		color:#fff;
    border-radius: 15px;
    border: 2px solid #E7F0FA;
    box-shadow: 0 10px 5px -10px #000;
    -moz-box-shadow: 0 10px 5px -10px #000;
    -webkit-box-shadow: 0 10px 5px -10px #000;
    display:inline;
}

#footer .yantra{ background-color: #4A9BC8; margin-left:10px; display:none;}
#footer .current{ background-color: #4A9BC8; margin-left:10px; margin-bottom:10px; }
#footer .upcoming{ background-color: #9EA5AB; margin-left:10px; }

#footer .test1{ background-color: #fff; margin-left:10px; border: 2px solid #9EA5AB; width: 100px; color:#000; text-align:center;}
#footer .test2{ background-color: #fff; margin-left:10px; border: 2px solid #9EA5AB; width: 100px; color:#000; text-align:center;}
#footer .barcodetext{ margin-left:10px; font-weight:bold;}
#footer .barcode{ background-color: #fff; margin-left:10px; border: 2px solid #9EA5AB; width: 150px; color:#000; text-align:center;}

#footer .buy{ background-color: #916366; margin-left:10px; }
#footer .clar{ background-color: #78A56C; margin-left:10px; }
#footer .can{ background-color: #78A56C; margin-left:10px; }
#footer .lreceipt{ background-color: #78A56C; margin-left:10px; }
#footer .exit{ background-color: #B21800; margin-left:50px; margin-right:50px; }
#footer .pdetail{ background-color: #9EA5AB; }
#footer .luckyyantra{ background-color: #9EA5AB; }

#centerPopup{
	display:none;
	background:#dee;
	position:absolute; 
  top: 18%;
  left: 50%;
  z-index: 1000;
  width:800px;
  padding:15px;
  border-radius: 5px;
  
  box-shadow: 0 10px 5px -10px #C38712;
  -moz-box-shadow: 0 10px 5px -10px #C38712;
  -webkit-box-shadow: 0 10px 5px -10px #C38712;
}

#centerPopupInner { height:350px; overflow-y:scroll; }

.separater span{
	display:inline;
}

.centerPopupinput { 
	width:75px; 
	margin:5px;
	padding:4px; 
	border-radius: 3px;
	text-align:center;
	curser:pointer;
}

.currenDate{ font-weight:bold; font-size:18px; border-bottom: 1px solid #ff3300; margin: 5px 0 5px 11px;}

.closeDiv { float:right; margin-top:-5px; curser:pointer;}
#closeDiv { padding: 0px; font-size:11px; width:18px; margin:0px; background-color: #FF3300; color:#fff;}

#CurrentTime { color:#fff; margin:40px 0px 5px 0px; font-weight:bold; width:310px; padding:0px 30px;}
#CurrentTime .ctime{ float:left; width:150px; text-align:left; vertical-align:bottom; height:20px; font-size:20px; padding-bottom:5px;}
#CurrentTime .ltime{ margin-left:150px; text-align:right; vertical-align:bottom; height:20px; font-size:20px; padding-bottom:5px;}

#content ul { margin:0px; padding:0px; }
#content li { list-style:none; color:#fff; text-align:center; display:inline-flex; margin:4px 5px 5px 5px; height:111px; border:solid 2px #000;}
#content .yantralist { }
#content .lefttext { float:left; width:55px; text-align:center; margin-top:8px;}
#content .rightyantra { width:113px; margin-left:50px;}
#content .lefttime { font-weight:bold; font-size:18px; }
#content .leftstart { text-align:center; }
#content .jackport img { border:solid 4px #88F7F3; }
#content .leftstart img { border:0px; }
#content .jp {  }
/*#content div { float:left; font-weight:bold; font-size:15px; width:78px;}*/
#content li img { width:100px; border:solid 4px #864420;}

.currentBalance { color:#fff; margin-right:45px; }
#CurrentTimer { color:#fff; margin:13px 0px 5px 0px; font-weight:bold; padding:0px 30px; float:left; font-size:20px;}
.whiteColor { color:#fff; }

#yantra_list > form { margin:5px 0px; }




/* Dhaval Edited 16 Oct 2014 */
#yantra_content{ margin-bottom:70px; padding-bottom:20px;width:100%; max-width:100%;}
#mainWrapper{ width:100%; max-width:100%;}
#leftArea{ width:25%; padding-bottom:20px;}
#RightArea{ width:75%; margin:0px; float:left; padding-bottom:20px;}

#CurrentTime,
#CurrentTime *,
#slider1_container,
#slider1_container *,
#yantra_list ul,
#yantra_list ul *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

#CurrentTime{ width:100%;}
#leftArea #CurrentTime{clear:both;}
#leftArea #CurrentTime > div{ width:50%; float:left; margin:0px;}
#slider1_container{width:100%;margin:0px; padding:20px 30px;}
#yantra_list ul li{ width:19%; max-width:19%; text-align:center;}
#yantra_list ul li img{ width:auto; height:135px; max-width:100%;}
#slider1_container img{ max-height:340px;}
#yantra_list ul li input{ width:100%;}




@media print
{
.pagebreak { page-break-after:always; }
}