body{
    margin: 0;
    padding: 0;
background: #B5EAFF;
    font-family:arial,sans-serif;
    color: #333;
    overflow: hidden;
}

.clearing {clear: both;}

#main_wrapper{
    padding: 20px;
}

#slider1_container{
 
    position: relative;
    overflow: hidden;
    margin:30px 25px;    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.cycle-slideshow{box-shadow: 0 13px 15px -10px #000;
    -moz-box-shadow: 0 13px 15px -10px #000;
    -webkit-box-shadow: 0 13px 15px -10px #000;}

#slider1_container img{
    width:100%; max-width:320px;
    height: auto;
		
		
}

#yantra_list{
		margin:0 auto;
		width:93%;
    padding: 0px 5px;
    text-align: center;
}

#yantra_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#yantra_list ul li{
    display: inline-block;
    max-width: 160px;
    padding: 5px 8px;
    
}

#yantra_list ul li img {
    width: 95%;
    height: 140px;
}
#yantra_list ul li input {
    margin-top:5px;
    padding: 5px 7px;
    width: 80px;
    border: 2px solid #fff;
}

#yantra_list ul li input:focus{
    background-color: #0164C1;
    color: #FFF;
}

#yantra_content{
    padding-top: 15px;
   margin:0 auto;
		position:relative;
		max-width:1366px;
}

#yantra_content table{

    border-collapse: collapse;
}

#yantra_content table, #yantra_content td, #yantra_content th {
    border: 1px solid #FFF;
}

#yantra_content table tr {margin-bottom: 10px;}

#yantra_content table td{
    text-align: center;
    vertical-align: middle;
}

#yantra_content table .text{
    width: 60px;
}

#yantra_content table .image{
    display: block;
    width: 150px;
}

#yantra_content table .image img{
    width: 100%;
    height: auto;
}

#yantra_content #content{
    height: 280px;
    width: 100%;
    padding-right: 0px;
    margin: 0 auto;
    overflow:auto;
}

#mainWrapper{
	margin:0 auto;
	position:relative;
	max-width:1366px;
}

#leftArea{
	float:left;
	/* width:27%; */
	width:364px;
	text-align:center;
	height:400px; 
}

#RightArea{
	/* margin-left:27%;
	width:73%; */
	margin-left:364px;
	/*width:985px;*/
	height:400px;
}

#Righttop{
	text-align:right;
	margin-right:10px;margin-top:15px;
	min-height:45px;
}
#Righttop p{text-align: left;font-size: 10px;padding-left: 60px}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:30px; 
    text-align:center;
    padding:0px 5px 5px 5px;
    background-color: #fff;
}

#footer input{ 
		padding: 4px 8px;
		font-weight:bold;
		font-size:14px;
		letter-spacing:1px;
		color:#fff;
    border-radius: 15px;
    border: 2px solid #E7F0FA;
    box-shadow: 0 10px 5px -10px #000;
    -moz-box-shadow: 0 10px 5px -10px #000;
    -webkit-box-shadow: 0 10px 5px -10px #000;
    display:inline;
}

#footer .yantra{ background-color: #4A9BC8; margin-left:10px; display:none;}
#footer .current{ background-color: #4A9BC8; margin-left:10px; margin-bottom:10px; }
#footer .upcoming{ background-color: #9EA5AB; margin-left:10px; }

#footer .test1{ background-color: #fff; margin-left:10px; border: 2px solid #9EA5AB; width: 100px; color:#000; text-align:center;}
#footer .test2{ background-color: #fff; margin-left:10px; border: 2px solid #9EA5AB; width: 100px; color:#000; text-align:center;}
#footer .barcodetext{ margin-left:10px; font-weight:bold;}
#footer .barcode{ background-color: #fff; margin-left:10px; border: 2px solid #9EA5AB; width: 150px; color:#000; text-align:center;}

#footer .buy{ background-color: #916366; margin-left:10px; }
#footer .clar{ background-color: #78A56C; margin-left:10px; }
#footer .can{ background-color: #78A56C; margin-left:10px; }
#footer .lreceipt{ background-color: #78A56C; margin-left:10px; }
#footer .exit{ background-color: #B21800; margin-left:50px; margin-right:50px; width:150px; }
#footer .pdetail{ background-color: #9EA5AB; }
#footer .luckyyantra{ background-color: #9EA5AB; }

#centerPopup{
	display:none;
	background:#dee;
	position:absolute; 
  top: 18%;
  left: 50%;
  z-index: 1000;
  width:800px;
  padding:15px;
  border-radius: 5px;
  
  box-shadow: 0 10px 5px -10px #C38712;
  -moz-box-shadow: 0 10px 5px -10px #C38712;
  -webkit-box-shadow: 0 10px 5px -10px #C38712;
}

#centerPopupInner { height:350px; overflow-y:scroll; }

.separater span{
	display:inline;
}

.centerPopupinput { 
	width:75px; 
	margin:5px;
	padding:4px; 
	border-radius: 3px;
	text-align:center;
	curser:pointer;
}

.todaydate{
    text-align: left;
    vertical-align: bottom;
    height: 30px;
    font-size: 30px;
    padding-bottom: 5px;
}
.todaytime{
    text-align: right;
    vertical-align: bottom;
    height: 30px;
    font-size: 30px;
    padding-bottom: 5px;
}
.currenDate{ font-weight:bold; font-size:18px; border-bottom: 1px solid #ff3300; margin: 5px 0 5px 11px;}

.closeDiv { float:right; margin-top:-5px; curser:pointer;}
#closeDiv { padding: 0px; font-size:11px; width:18px; margin:0px; background-color: #FF3300; color:#fff;}

.CurrentTimeNew { margin:10px 0px 5px 0px; font-weight:bold; width:310px; padding:0px 10px;}
.ctime{ float:left; width:150px; text-align:left; vertical-align:bottom; height:30px; font-size:30px; padding-bottom:5px;}
.ltime{ margin-left:150px; text-align:right; vertical-align:bottom; height:30px; font-size:30px; padding-bottom:5px;}

#content ul { margin:0px; padding:0px; }
#content li { list-style:none;text-align:center;float: left; height:84px; border:solid 2px #000;margin:2px 1px; width:160px;}

.yantralist:before,.yantralist:after{
	display:table;
	content:" "
}

.yantralist:after{
	clear:both
}

#content .lefttext { float:left; width:51px; text-align:center; margin-top:8px;}
#content .rightyantra { width:113px; margin-left:50px;}
#content .lefttime { font-weight:bold; font-size:18px; }
#content .leftstart { text-align:center; }
#content .jackport img { border:solid 4px #88F7F3; }
#content .leftstart img { border:0px; }
#content .jp {  }
/*#content div { float:left; font-weight:bold; font-size:15px; width:78px;}*/
#content li img { width:100px; border:solid 4px #864420;}

.c_box {text-align: center;display:inline-block; width:150px;font-size:30px; font-weight:bold;  line-height:30px;border-radius: 15px;-moz-box-shadow: 0 10px 5px -10px #000;
-o-box-shadow: 0 10px 5px -10px #000;-webkit-box-shadow: 0 10px 5px -10px #000;box-shadow: 0 10px 5px -10px #000;
border: 2px solid #333;padding: 5px}
.currentID{margin-right:15px;}
.currentBalance{margin-right:45px;}
.MT14{margin-top:14px; float:right;}
#yantra_list > form { margin:5px 0px; }
#logo{box-sizing: border-box;margin-bottom: 70px;margin-top: 20px}

/* Dhaval Edited 16 Oct 2014 */
#yantra_content{ margin-bottom:0px; padding-bottom:20px; width:100%; }
#mainWrapper{ width:100%; max-width:100%;}
#leftArea{ width:25%; padding-bottom:20px;}

#RightArea{ width:75%; margin:0px; float:left; padding-bottom:20px;}
#Righttop a{color:white;}
.brand{
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}
.city{
    padding-right: 200px;
    font-size: 10px;
    margin-top: 8px !important;
    display: inline-block;
}
.left{float:left; padding:0 30px; margin:13px 0 5px;}

#CurrentTime,
#CurrentTime *,
#slider1_container,
#slider1_container *,
#yantra_list ul,
#yantra_list ul *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

.CurrentTimeNew{ width:100%;}
#leftArea .CurrentTimeNew{clear:both;}
#leftArea .CurrentTimeNew > div{ width:50%; float:left; margin:0px;}
#slider1_container{width:100%;margin:0; padding:10px 30px;padding-top: 50px}
#yantra_list ul li{ width:19%; max-width:19%; text-align:center;}
#yantra_list ul li img{ width:auto; height:135px; max-width:100%;}
#slider1_container img{ max-height:340px;}
/*#yantra_list ul li input{ width:100%;}*/

.f25{font-size:25px !important;}
.date{padding-right:124px;}
.logout{margin-right:47px;}


@media print
{
.pagebreak { page-break-after:always; }
}